{% extends 'listings/base.html' %}

{% block content %}
<section class="login_form">
    <h1>Inscrivez-vous</h1>
    <form action="" method="post">
        {% csrf_token %}
        <p>Nom:</p>
        <div class="form-field">{{ form.nom }}</div>
        <p>Prénom:</p>
        <div class="form-field">{{ form.prenom }}</div>
        <p>Email:</p>
        <div class="form-field">{{ form.email }}</div>
        <p>Mot de passe:</p>
        <div class="form-field">{{ form.password }}</div>
        <p>Confirmation</p>
        <div class="form-field">{{ form.confirmation }}</div>
        <input type="submit" value="S'inscrire" class="sign">
    </form>
    {% if error_message %}
        <div class="error">
            {{ error_message }}
        </div>
    {% endif %}
</section>
{% endblock %}